<% provide(:title, "Help") %>
<h1>Help</h1>

<h1>Darlington Orchestra Committee</h1>
<h2>Online Committee Proceedings</h2>

<h3 style="color:blue;">Start a new topic for dicussion/voting</h3>
<p>Any committee member is able (after logging in) to click on "Proposals"
   to bring up a page on which they can see current proposals.  By clicking
  on "Submit New Proposal" a new topic or question for discussion or voting
  can be started in the form provided.</p>

<p>When satified with the proposal the member can press submit and an email
  will be sent to each committee member with a link to the site.</p>

<h3 style="color:green;"> Commenting and/or voting on a proposal.</h3>
<p>On following the link(in the email) telling of a new proposal and entering a password,
  the member can click on "Proposal" and then select "Show" for the proposal of interest.
  There will be a text box in which they can make comments and a voting box.</p>

<h3 style="color:red;">Changing Password or email address</h3>
<p> After logging in click on "Account".  Select "Settings" from the dropdown
  and complete the form appropriately</p>
