<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi  <%=@originator%>,</h3>
    <p>
      <%=DateTime.now.to_date%>
    </p>
    <p>
      Title: <span style="color: green; font:bold"> <%= @proposal %></span>
    </p>
    <p>
      There is a  <span style="color: red; font:bold"> New Comment </span> on the
      committee web-site about your proposal "<%= @proposal %>".
      <a href="https://howd-gilb.herokuapp.com"> Click here </a> to go to the site.

      If you have problems/worries or can think of changes that would be good
      (can't promise I can code them) <a href="mailto:howard.gilbrt@gmail.com">Please contact me</a>.
    </p>
    <h3> Best wishes from the web-site</h3>

  </body>
</html>
